.forgot__password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    // Forgot Password Form Styles
    &__form {
        padding: 3rem;
        border: 2px solid #00b4d8;
        border-radius: 1rem;
        width: 30%;

        @include respond(tab-land) {
            width: 40%;
        }

        @include respond(tab-port) {
            width: 60%;
        }

        @include respond(phone) {
            width: 80%;
        }

        background-color: #00b4d8;

        // Forgot Password title
        &__title {
            font-size: 2rem;
            text-align: center;
            margin: 0rem 0rem 2rem 0rem;
        }

        // Forgot Password Inputs
        &__input {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            & > label {
                margin-bottom: .3rem;
                font-size: 1.2rem;
            }

            & > input {
                padding: 0.5rem 1rem;
                margin-bottom: .5rem;
                font-size: 1.5rem;
                border-radius: 1.5rem;

                &:focus {
                    outline: none;
                    border: 2px solid #dc2f02;

                }
            }

            // Forgot Password Button
            &__btn {
                padding: .5rem;
                margin-top: 1rem;
                border: 1px solid #dc2f02;
                border-radius: 2rem;
                cursor: pointer;
                font-size: 2rem;
                background-color: #dc2f02;
                color: white;

                &:hover {
                    background-color:  white;
                    color: #dc2f02;
                    border: 1px solid white;
                }

                &:focus {
                    outline: 0;
                }
            }
        }
    }
}