.loader {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $primary-red;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}