*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5; // 1rem = 10px; 10/16 = 62.5%

    @include respond(big-desk) {
        font-size: 75%; // 1rem = 12px; 12/16 = 0.75
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px; 8/16 = 0.5
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px; 7/16 = 0.5
    }
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    box-sizing: border-box;
}

.input__base,
.select__base {
    padding: 0.5rem 3rem 0.5rem 1rem;
    font-size: 1.5rem;
    border: 1px solid #ddd; 
    border-radius: .5rem;
    background-color: $primary-grey;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;


    &:focus {
        outline: none;
        border: 2px solid $primary-red;
    }
}