*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    box-sizing: border-box;
}

.input__base,
.select__base {
    padding: 0.5rem 3rem 0.5rem 1rem;
    font-size: 1.5rem;
    border: 1px solid #ddd; 
    border-radius: .5rem;
    background-color: $primary-grey;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;


    &:focus {
        outline: none;
        border: 2px solid $primary-red;
    }
}