.view {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    padding: 1rem;
    background-color: $secondary-blue;

    @include respond(tab-port) {
        flex-direction: column;
        padding: 0rem;
    }
}